main {
  min-width: 400px;
}

p {
  line-height: 0.7em;
  margin-left: 20px;
}

#resultWrapper {
  background-color: white;
  min-height: 110px;
  width: 350px;
  margin: 0, auto;
}

#resultWrapper p:first-child {
  margin-top: 20px;
}

#resultWrapper p:last-child {
  margin-bottom: 20px;
}

#townsContainer {
  max-width: 400px;
}

.container {
  min-width: 380px;
}

.card {
  opacity: 1;
  transition: .5s ease;
  border-width: 2px;
  border-color: white;
}

.card .btn-secondary,
.card .btn-danger {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.card:hover img {
  opacity: 0.3;
}

.card:hover .btn-secondary,
.card:hover .btn-danger {
  opacity: 1;
}

.card img {
  width: 80px;
}
